.Resume {
    height: 100vh;

}

.WholeDoc {
    padding: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}

span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Date {
    color: #B35035;

}

.Info {
    color: grey;
    margin-top: 0px;
}

.Logos {
    width: 200px;
}

.SkillLogos {
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.SkillBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.ReleventProjects {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProjBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProfessionalSummary {
    text-align: center;
    width: 600px;

}

.PSBox {
    display: flex;
    justify-content: center;
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 200px; */
}

a {
    text-decoration: none;
    color: #B35035;
}

.PortLinkDiv {
    display: flex;
    justify-content: center;
}

.PortLink {
    font-weight: bolder;
    padding: 20px;
}