.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.Contact > h1 {
    padding-top: 40px;
}

.CMLinks {
    display: flex;
    
    align-items: center;

    
}

.CMLinks > a {
    text-decoration: none;
    color: black;
}

.LinkLogos {
    width: 50px;
    padding: 20px;
}