.Photo > img {
    height: 90vh;
    padding-right: 0px;
    margin-right: 0px;
    width: 90%;
}

/* .Intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    
} */

.Photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Photo > img{
    padding: 20px;
    width: 300px;
    height: 300px;
}

.Statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.Statement > h4 {
    width: 600px;
    padding-bottom: 40px;
}

.PS {
    text-align: center;
}

.smithPhoto {
    width: 100%;
}

.mePhoto {
    border-radius: 50%;
}

.climbingPhoto {
    width: 400px;

}

.climbingBlurb {
    display: grid;
    grid-template-columns: 1fr 1fr;
}